.DS_Store
*.xcuserdatad
build/
DerivedData/
Documentation/
xcshareddata/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
