.DS_Store
*.xcuserdatad
build/
DerivedData/
Documentation/
xcshareddata/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

BS Style.txt
Big Screens TODO.txt
Design/
code/BigScreensShared/Assets/audio/intriguing_possibilities_clipped.aiff
ideas.md
moodboard_bill/
moodboard_scaled_flipped/
moodboard_scaled_nonflipped/
moodboard_scaled_small/
visual_research/Screen Shot 2013-10-20 at 7.38.27 PM.png
visual_research/photo.JPG
Final
blog